@import 'can_i_import.css';

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

::placeholder {
  color: gray;
}

@media (min-resolution: 2dppx) {
  body {
    color: $primary-color;
    font: 100% $font-stack;
  }
}

input {
  left: -100px;
  margin-right: 100px;
  color: red;
  font-size: 20;
  text-align: middle;
  background: purple;
}
